<a class='c-post-card' href='{{ post.url | prepend: site.baseurl }}'>
  <div class='c-post-card__main'>
    <h2 class='c-post-card__title'>{{ post.title }}</h2>
    <time class='c-post-card__date' datetime='{{ post.date | date_to_xmlschema }}'>{{ post.date | date: '%d %b %Y' }}</time>
  </div>
  {% if post.excerpt %}
    <p class='c-post-card__excerpt'>{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
  {% endif %}
</a>
